global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    maxconn 2048

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend main_gateway
    bind *:80
    bind *:443 ssl crt /etc/haproxy/certs/abdurahim.tech.pem
    default_backend web_servers

backend web_servers
    balance roundrobin
    server 7130-web-01 54.172.198.150:3000 check
    server 7130-web-02 3.89.111.203:3000 check
